<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DLWebServiceStructure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TargetOne.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25E40C471B3DA9DB0018A43F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25E40C661B3DA9DC0018A43F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25E40C711B3DA9DC0018A43F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA6FEDB41B3F05B100266C32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA6FEDCC1B3F05B100266C32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA6FEDD71B3F05B100266C32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
